<div id="systemironsworn" class="tab-pane fade">
  <IronswornStatTable @char={{char}}/>
  <IronswornStatusTable @char={{char}}/>
  <IronswornLegaciesTable @char={{char}}/>
  <IronswornAssetTable @title="Assets" @assets={{char.ironsworn.assets}}/>
  <IronswornAssetTable @title="Shared Assets" @assets={{char.ironsworn.assets_shared}}/>
</div>
